<!-- <form *ngIf="action != 'view'" [formGroup]="updateTransactionForm"> -->
<div class="row">
  <div class="col-12">
    <form
      [formGroup]="updateTransactionForm"
      novalidate
      (ngSubmit)="updateTransaction()"
    >
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Nuevo Movimiento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre de la transacción*"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="
                    updateTransactionForm.controls['name'].hasError('required')
                  "
                >
                  El nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Billetera*" formControlName="walletId">
                  <mat-option
                    *ngFor="let wallet of wallets"
                    [value]="wallet.id"
                  >
                    {{ wallet.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    updateTransactionForm.controls['walletId'].hasError(
                      'required'
                    )
                  "
                >
                  La billetera es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Fecha de la transacción"
                  formControlName="date"
                />
                <mat-error
                  *ngIf="
                    updateTransactionForm.controls['date'].hasError('required')
                  "
                >
                  La fecha es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Hora de la transacción"
                  formControlName="time"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Monto*" formControlName="amount" />

              <!-- <mat-hint>Ingrese un " - " delante del número si es gasto</mat-hint> -->
              <mat-error
                *ngIf="
                  updateTransactionForm.controls['amount'].hasError('required')
                "
              >
                La fecha es <strong>obligatoria</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Descripción"
                formControlName="description"
              />
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
