<div>
  <h4 class="text-center">Lista de Billeteras</h4>
  <a routerLink="/billeteras/crear"><h5>Agregar Billetera</h5></a>
  <div *ngIf="walletsList; else loadingTemplate">
    <div class="row">
      <table mat-table [dataSource]="walletsList">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let wallet">{{ wallet.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let wallet">{{ wallet.name }}</td>
        </ng-container>
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Saldo</th>
          <td mat-cell *matCellDef="let wallet">
            <!-- {{ wallet.currency }} {{ wallet.balance }} -->
          </td>
          <td mat-cell *matCellDef="let wallet">{{ wallet.balance }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let wallet">{{ wallet.description }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>actions</th>
          <td mat-cell *matCellDef="let wallet">
            <a
              class="btn btn-secondary text-white"
              routerLink="/billeteras/actualizar/{{ wallet.id }}"
            >
              Editar
            </a>
            &NonBreakingSpace;
            <a
              class="btn btn-danger text-white"
              (click)="deleteWallet(wallet.id)"
            >
              Borrar
            </a>
            <!-- <a
              class="btn btn-info text-white"
              title="{{ wallet.description }}"
            >
            <fa-icon [icon]="faSearch"></fa-icon>
            </a> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let wallet; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
