<!-- <form *ngIf="action != 'view'" [formGroup]="newTransactionForm"> -->
<div class="row">
  <div class="col-12">
    <form
      [formGroup]="newTransactionForm"
      novalidate
      (ngSubmit)="addTransaction()"
    >
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Nuevo Movimiento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre de la transacción*"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="
                    newTransactionForm.controls['name'].hasError('required')
                  "
                >
                  El nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Billetera*" formControlName="walletId">
                  <mat-option
                    *ngFor="let wallet of wallets"
                    [value]="wallet.id"
                  >
                    {{ wallet.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    newTransactionForm.controls['walletId'].hasError('required')
                  "
                >
                  La billetera es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Fecha de la transacción"
                  formControlName="date"
                />
                <mat-error
                  *ngIf="
                    newTransactionForm.controls['date'].hasError('required')
                  "
                >
                  La fecha es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Hora de la transacción"
                  formControlName="time"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Moneda</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let currency of currencies$ | async"
                    [value]="currency.id"
                  >
                    {{ currency.shortName }}
                  </mat-option>
                </mat-select>
                <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
              </mat-form-field>
              {{ asdf | async }}
              &NonBreakingSpace;
              <mat-form-field class="">
                <input matInput placeholder="Monto*" formControlName="amount" />
                <mat-error
                  *ngIf="
                    newTransactionForm.controls['amount'].hasError('required')
                  "
                >
                  La fecha es <strong>obligatoria</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Descripción"
                formControlName="description"
              />
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
