<!-- <form *ngIf="action != 'view'" [formGroup]="newCurrencyForm"> -->
<div class="row">
  <div class="col-12">
    <form [formGroup]="newCurrencyForm" novalidate (ngSubmit)="addCurrency()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Crear Moneda</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre de la moneda*"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="newCurrencyForm.controls['name'].hasError('required')"
                >
                  El nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Siglas (ej: ARS, USD)"
                  formControlName="shortName"
                />
                <mat-error
                  *ngIf="
                    newCurrencyForm.controls['shortName'].hasError('required')
                  "
                >
                  Las siglas son <strong>obligatorias</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Descripción de la moneda"
                  formControlName="description"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Símbolo de la moneda (ej: $, U$S)"
                  formControlName="symbol"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Crear Moneda
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
