<!-- <form *ngIf="action != 'view'" [formGroup]="newWalletForm"> -->
<div class="row">
  <div class="col-12">
    <form [formGroup]="updateWalletForm" novalidate (ngSubmit)="updateWallet()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Actualizar Billetera</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nombre de la billetera*"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="updateWalletForm.controls['name'].hasError('required')"
                >
                  El nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Saldo de la billetera"
                  formControlName="balance"
                />
                <mat-error
                  *ngIf="
                    updateWalletForm.controls['balance'].hasError('required')
                  "
                >
                  El nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Descripción de la billetera*"
                  formControlName="description"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            Actualizar Billetera
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
