<div class="card">
  <div class="card-body">
    <h4 class="text-center">Lista de Movimientos</h4>
    <a routerLink="/movimientos/crear"><h5>Agregar Movimiento</h5></a>
    <div *ngIf="transactionsList; else loadingTemplate">
      <table mat-table [dataSource]="transactionsList">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.name }}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Monto</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.currencyId | currencySymbol }} {{ transaction.amount }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.date | date: 'dd-MM-YY'}}</td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.time }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let user">{{ user.description }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let transaction">
            <a
              class="btn btn-secondary text-white"
              routerLink="/movimientos/actualizar/{{ transaction.id }}"
            >
              <label>Editar</label>
            </a>
            &NonBreakingSpace;
            <!-- <a class="btn btn-danger text-white" (click)="onDelete(product.$key)"> -->
            <a
              class="btn btn-danger text-white"
              (click)="deleteTransaction(transaction.id)"
              >Borrar
            </a>
            <!-- <a
                class="btn btn-info text-white"
                title="{{ transaction.description }}"
              >
              <fa-icon [icon]="faSearch"></fa-icon>
                <i class="fas fa-search-alt"></i>
               </a> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let transaction; columns: columnsToDisplay"
        ></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
